
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("background-5574027_1920.png");
    
    background-repeat: repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     }

     .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("descarga.jpeg");
        
        }
        
        
        
        .textotecno{
        
        font-family: cursive;
        
            text-align: justify;
        
        color: rgb(0, 0, 0);
        
        font-size: 20px;
        
        
        
        }

        .contenidobio{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imagenbio{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("GeneticDisorders_share.jpg");
            
            }
            
            
            
            .textobio{
            
            
            font-family: cursive;
            
                text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
            
            
            
            }

            .contenidosociales{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
                
                .imagensociales{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 860px;
                
                width: 1050px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("Mapasoc.jpg");
                
                }
                
                
                
                .textosociales{
                
                font-family: cursive;
                
                    text-align: justify;
                
                color: rgb(0, 0, 0);
                
                font-size: 19px;
                
                }

                .imagensociales2{
                
                 
                
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 860px;
                    
                    width: 1260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("portadasoc.jpg");
                    
                    }

                    .contenidoreli{

                        height: 280px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 410px;
                        
                         
                        
                        }
                        
                         
                        
                        .imagenreli{
                        
                         
                        
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 260px;
                        
                        width: 260px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("Vishnu_1_2.jpg");
                        
                        }
                        
                        
                        
                        .textoreli{
                        
                        font-family: cursive;
                        
                            text-align: justify;
                        
                        color: rgb(0, 0, 0);
                        
                        font-size: 20px;
                        
                        
                        
                        }     

                    
                        .contenidomate{

                            height: 280px;
                            
                            width: 100%;
                            
                            position: absolute;
                            
                            top: 410px;
                            
                             
                            
                            }
                            
                             
                            
                            .imagenmate{
                            
                             
                            
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 200px;
                            
                            width: 260px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("matematicas.jepg.png");
                            
                            }
                            
                            
                            
                            .textomate{
                            
                            font-family: cursive;
                            
                                text-align: justify;
                            
                            color: rgb(0, 0, 0);
                            
                            font-size: 20px;
                            
                            
                            
                            }

                            .contenidoing3{

                                height: 280px;
                                
                                width: 100%;
                                
                                position: absolute;
                                
                                top: 410px;
                                
                                 
                                
                                }
                                
                                 
                                
                               
                                
                                
                                
                                .textoing3{
                                
                                font-family: cursive;
                                
                                    text-align: justify;
                                
                                color: rgb(0, 0, 0);
                                
                                font-size: 20px;
                                
                                
                                
                                }

                                .imagening3{
                                
                                 
                                
                                    background-repeat: no-repeat;
                                    
                                    float:left;
                                    
                                    height: 800px;
                                    
                                    width: 1400px;
                                    
                                    margin-left: 5px;
                                    
                                    margin-right:5px;
                                    
                                    background-image: url("imagenin3c2.jpg");
                                    
                                    }



                                .contenidomate3{

                                    height: 280px;
                                    
                                    width: 100%;
                                    
                                    position: absolute;
                                    
                                    top: 410px;
                                    
                                     
                                    
                                    }
                                    
                                    
                                    
                                    .textomate3{
                                    
                                    font-family: cursive;
                                    
                                        text-align: justify;
                                    
                                    color: rgb(0, 0, 0);
                                    
                                    font-size: 20px;
                                    
                                    
                                    
                                    }
    
